body { 
    font: 13px Helvetica, Arial; 
}

#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

#messages li { 
    padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
    background: #eee; 
}

#chatBox { 
    height: 1000px; 
}

#form { 
    position: fixed;  
    bottom: 0;
}